.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
}

.btn{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn.random{
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.play {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.bubble {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
  position: absolute;
  right: 20px;
  top: 80px;
}

.btn.merge {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
  position: absolute;
  right: 20px;
  top: 130px;
}